@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arvo';
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9); 
  z-index: -1;
}

.login-container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #333;
  text-transform: uppercase;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px;
}

.login-button {
  width: 100%;
  padding: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
}

.login-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.login-links {
  margin-top: 20px;
  font-size: 16px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.login-links a {
  color: #333;
  text-decoration: none;
  white-space: nowrap;
}

.login-links a:hover {
  text-decoration: underline;
}

.icon-home{
  font-size: 40px;
  color: black;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

@media(max-width: 1024px){
  .login-container{
    width: 50vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .input-group, .login-button{
    width: 40vh;
  }
}

@media (min-width: 768px) and (max-width: 1025px){
  .login-container{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .input-group, .login-button, .login-links{
    width: 100%;
  }
}

@media (max-width: 767px) and (max-height: 1100px){
  .login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: 100vw;
    height: 100vh;
  }
  .input-group, .login-button, .login-links{
    width: 90vw;
  }
}